<div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand"><a id="menu-toggle"><i class="fa fa-lg fa-stack fa-ambulance fa-pull-right icon-content"></i><span class="menu-content"><i class="fa fa-sm fa-ambulance"></i> Menu</span></a></li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">     
        <li><a><i class="fa fa-lg fa-stack fa-ambulance fa-pull-right icon-content"></i><span class="menu-content"><i class="fa fa-sm fa-ambulance"></i> My Application</span></a></li>
        <li><a ng-href="#!/index/myApp"><i class="fa fa-lg fa-stack fa-ambulance fa-pull-right icon-content"></i><span class="menu-content"><i class="fa fa-sm fa-window-restore"></i> Create Application</span></a></li>
        <li><a ng-href="#!/index/login"><i class="fa fa-lg fa-stack fa-ambulance fa-pull-right icon-content"></i><span class="menu-content"><i class="fa fa-sm fa-window-restore"></i>  Form validation</span></a></li>
    </ul>
</div>